{% import kachnitel_admin_theme as css %}
{% if filterMetadata.multiple|default(false) %}
    <twig:K:Admin:EnumMultiFilter
        :column="column"
        :value="value"
        :enumClass="filterMetadata.enumClass"
        label="{{ filterMetadata.label|default(column|title) }}"
    />
{% else %}
    <select
        class="{{ css.form_input_sm() }}"
        data-model="value"
    >
        {% if filterMetadata.showAllOption|default(true) %}
            <option value="">All</option>
        {% endif %}
        {% for case in enum(filterMetadata.enumClass).cases() %}
            <option value="{{ case.value }}" {{ value == case.value ? 'selected' : '' }}>
                {{ case.displayValue is defined ? case.displayValue() : case.name }}
            </option>
        {% endfor %}
    </select>
{% endif %}
