{% import kachnitel_admin_theme as css %}
<div class="{{ css.flex_center() }} {{ css.gap_sm() }}">
    <select
        class="{{ css.form_input_sm() }}"
        multiple
        data-model="selectedValues"
        size="4"
    >
        {% for case in enum(filterMetadata.enumClass).cases() %}
            <option
                value="{{ case.value }}"
                {{ case.value in selectedValues ? 'selected' : '' }}
            >
                {{ case.displayValue is defined ? case.displayValue() : case.name }}
            </option>
        {% endfor %}
    </select>
    {% if selectedValues|length > 0 %}
        <button
            type="button"
            class="{{ css.btn_link() }} {{ css.btn_sm() }}"
            data-action="live#action"
            data-live-action-param="clearMultiSelect"
        >
            Clear ({{ selectedValues|length }})
        </button>
    {% endif %}
</div>
