{#
 # DataSource entry detail template (read-only).
 #
 # Variables:
 # @var string dataSourceId - Identifier of the data source
 # @var DataSourceInterface dataSource - The data source instance
 # @var object item - The item to display
 #}
{% extends kachnitel_admin_base_layout ?: '@KachnitelAdmin/admin/base.html.twig' %}

{% block headerTitle %}
    {{ dataSource.label }} - Entry #{{ dataSource.getItemId(item) }}
{% endblock %}

{% block headerButtons %}
    {# Read-only, no edit/delete buttons #}
    <a href="{{ path('app_admin_datasource_index', { dataSourceId: dataSourceId }) }}" class="btn btn-outline-secondary">
        Back to List
    </a>
{% endblock %}

{% block content %}
  <table class="table">
    <tbody>
      {% for columnId, column in dataSource.columns %}
        <tr>
          <th>{{ column.label }}</th>
          <td>
            {% set value = dataSource.getItemValue(item, columnId) %}
            {% if column.type == 'datetime' %}
              {{ value is empty ? '-' : value|date('Y-m-d H:i:s') }}
            {% elseif column.type == 'json' %}
              <pre class="mb-0"><code>{{ value|json_encode(constant('JSON_PRETTY_PRINT')) }}</code></pre>
            {% elseif column.type == 'boolean' %}
              {{ value ? 'Yes' : 'No' }}
            {% else %}
              {{ value ?? '-' }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
