{#
 # Generic entity detail/show template.
 #
 # Variables:
 # @var object entity - The entity to display
 # @var string entityClass - Full class name of the entity
 # @var array breadcrumbs - Breadcrumb navigation array
 #}
{% extends kachnitel_admin_base_layout ?: '@KachnitelAdmin/admin/base.html.twig' %}

{% import kachnitel_admin_theme as css %}

{% block headerTitle %}
  {{ entity.name|default(entity.label|default('#' ~ entity.id)) }}
{% endblock %}

{% block headerButtons %}
  {{ include('@KachnitelAdmin/admin/_delete_form.html.twig', {}, ignore_missing = true) }}

  {% if entity|admin_has_route('edit') and admin_can_perform_action(entity, 'edit') %}
    <a href="{{ admin_object_path(entity, 'edit') }}" class="{{ css.btn_primary() }}">
      Edit
    </a>
  {% endif %}
{% endblock %}

{% block content %}
  <table class="{{ css.table_simple() }}">
    <tbody>
      {% for property, value in admin_get_entity_data(entity) %}
        <tr>
          <th>{{ property|humanize }}</th>
          <td>
            {% set templateName = admin_is_collection(entity, property) ? '_collection.html.twig' : '_preview.html.twig' %}
            {{ include([
              '@KachnitelAdmin/types/' ~ entityClass|replace({'\\': '/'}) ~ '/' ~ property ~ '.html.twig',
              '@KachnitelAdmin/types/' ~ admin_get_property_type(entity, property)|replace({'\\': '/'}) ~ '/' ~ templateName,
              '@KachnitelAdmin/types/' ~ templateName
            ], {
              entity: entity,
              value: value,
              property: property,
              cell: false
            }, ignore_missing = true) }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
