{#
 # Default collection preview template - shows count with optional link
 # to the target entity's admin list (filtered by the parent entity).
 #
 # Variables:
 # @var object entity - The root entity being displayed
 # @var Collection value - The collection value
 # @var string property - The property name being displayed
 #}

{% set collectionUrl = admin_collection_url(entity, property, true) %}
{% set label %}{{ value|length }} item{{ value|length != 1 ? 's' : '' }}{% endset %}

{% if collectionUrl %}
    <a href="{{ collectionUrl }}">{{ label }}</a>
{% else %}
    {{ label }}
{% endif %}
