{#
 # Default fallback preview template for any property.
 #
 # Variables:
 # @var object entity - The root entity being displayed
 # @var mixed value - The value to be displayed
 # @var string property - The property name being displayed
 # @var bool|null cell - Whether this is being rendered in a table cell
 #}

{# FIXME: issue here trying to render show? #}

{% if value is iterable %}
    {# 1. Handle Collections/Arrays #}
    {% if value is not empty %}
        {{ value|length }} related items ({{ value|slice(0, 3)|map(v => v.id|default('?'))|join(', ') }}...)
    {% else %}
        -
    {% endif %}
{% elseif value is object %}
    {# 2. Handle Single Related Entity #}
    {# Try to get a human-readable display value, with safe fallback to avoid conversion errors #}
    {% set display = null %}
    {% if value.name is defined %}
        {% set display = value.name %}
    {% elseif value.label is defined %}
        {% set display = value.label %}
    {% elseif value.title is defined %}
        {% set display = value.title %}
    {% elseif value.id is defined %}
        {% set display = '#' ~ value.id %}
    {% else %}
        {% set display = value.__class__|split('\\')|last ~ ' object' %}
    {% endif %}

    {% if value|admin_has_route('show') and admin_route_accessible(value|admin_get_route('show')) %}
        <a href="{{ admin_object_path(value, 'show') }}" title="{{ value.__class__ | split('\\') | last }}">{{ display }}</a>
    {% else %}
        <span title="{{ value.__class__ | split('\\') | last }}">{{ display }}</span>
    {% endif %}

{% else %}
    {# 3. Handle Scalar Values (string, int, bool) #}
    {{ value }}
{% endif %}
