{#
 # LiveComponent template for reactive entity lists with per-column filters.
 #
 # Props:
 # @var string entityClass - Entity class name (for Doctrine entities)
 # @var string dataSourceId - Data source identifier (for custom data sources)
 # @var string search - Global search query
 # @var string sortBy - Sort field
 # @var string sortDirection - ASC or DESC
 # @var array columnFilters - Per-column filter values
 #}

{% import kachnitel_admin_theme as css %}
{% set dataSource = this.dataSource %}
{% set isDoctrineEntity = this.isDoctrineEntity() %}
{% set showBatchColumn = this.canBatchDelete() %}
{% set showColumnVisibility = this.supportsColumnVisibility() %}
{% set visibleColumns = showColumnVisibility ? this.visibleColumns : this.columns %}

<div
    {% if showBatchColumn %}
        {{ attributes.defaults({ 'data-controller': 'batch-select' }) }}
    {% else %}
        {{ attributes }}
    {% endif %}
>
    {# Batch Actions Bar #}
    {% if showBatchColumn %}
        {% include '@KachnitelAdmin/components/EntityList/_BatchActionsBar.html.twig' with {
            selectedCount: this.selectedIds|length
        } only %}
    {% endif %}

    {# Column Visibility Toggle #}
    {% if showColumnVisibility %}
        {% set columnLabels = {} %}
        {% for column in this.columns %}
            {% set columnLabels = columnLabels|merge({ (column): dataSource.columns[column] is defined ?
                dataSource.columns[column].label : column|humanize }) %}
        {% endfor %}
        {% include '@KachnitelAdmin/components/EntityList/_ColumnVisibilityToggle.html.twig' with {
            allColumns: this.columns,
            hiddenColumns: this.hiddenColumns,
            columnLabels: columnLabels,
        } only %}
    {% endif %}

    {# Global Search #}
    {% if block('search') is defined %}
        <div class="admin-global-search {{ css.mb_3() }}">
            {{ block('search') }}
        </div>
    {% else %}
        <div class="admin-global-search {{ css.mb_3() }}">
            <input
                type="text"
                class="{{ css.form_input() }}"
                placeholder="Global search across all columns..."
                data-model="search"
                value="{{ this.search }}"
            >
        </div>
    {% endif %}

    <div class="{{ css.overflow_x_auto() }}">
    <table class="{{ css.table() }}">
        <thead class="{{ css.table_header() }}">
            <tr>
                {% if showBatchColumn %}
                    <th>
                        <input
                            type="checkbox"
                            class="{{ css.form_checkbox() }}"
                            data-batch-select-target="master"
                            data-action="change->batch-select#toggleAll"
                        >
                    </th>
                {% endif %}

                {% for slot in this.columnSlots %}
                    {% if this.isColumnGroup(slot) %}
                        {% include '@KachnitelAdmin/components/EntityList/_CompositeHeader.html.twig' with {
                            slot: slot,
                            sortBy: sortBy,
                            sortDirection: sortDirection,
                            component: this,
                            filterMetadata: this.filterMetadata,
                            columnFilters: this.columnFilters
                        } only %}
                    {% else %}
                        {% include '@KachnitelAdmin/components/EntityList/_SortableHeader.html.twig' with {
                            column: slot,
                            columnLabel: dataSource.columns[slot] is defined ?
                                dataSource.columns[slot].label : null,
                            sortable: dataSource.columns[slot] is defined ?
                                dataSource.columns[slot].sortable : true,
                            sortBy: sortBy,
                            sortDirection: sortDirection,
                            component: this
                        } only %}
                    {% endif %}
                {% endfor %}
                <th>Actions</th>
            </tr>
            <tr class="filters">
                {% if showBatchColumn %}
                    <th></th>
                {% endif %}

                {% for slot in this.columnSlots %}
                    {% if not this.isColumnGroup(slot) %}
                        <th>
                            {% if this.filterMetadata[slot] is defined %}
                                <twig:K:Admin:ColumnFilter
                                    key="{{ slot }}"
                                    column="{{ slot }}"
                                    value="{{ this.columnFilters[slot]|default('') }}"
                                    :filterMetadata="this.filterMetadata[slot]"
                                />
                            {% endif %}
                        </th>
                    {% endif %}
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for entity in this.entities %}
                {% set entityId = this.getEntityId(entity) %}
                {% set rowEditing = isDoctrineEntity and this.isRowEditing(entity) %}
                <tr>
                    {% if showBatchColumn %}
                        <td>
                            <input
                                type="checkbox"
                                class="{{ css.form_checkbox() }}"
                                value="{{ entityId }}"
                                {% if entityId in this.selectedIds %}checked{% endif %}
                                data-model="selectedIds[]"
                                data-batch-select-target="checkbox"
                                data-action="click->batch-select#toggle"
                            >
                        </td>
                    {% endif %}

                    {% for slot in this.columnSlots %}
                        {% if this.isColumnGroup(slot) %}
                            {% include '@KachnitelAdmin/components/EntityList/_CompositeCell.html.twig' with {
                                slot: slot,
                                entity: entity,
                                entityId: entityId,
                                rowEditing: rowEditing,
                                isDoctrineEntity: isDoctrineEntity,
                                component: this,
                                dataSource: dataSource,
                                entityClass: this.entityClass
                            } only %}
                        {% else %}
                            <td>
                                {% set value = this.getEntityValue(entity, slot) %}
                                {% set columnMeta = dataSource.columns[slot] ?? null %}

                                {{ include('@KachnitelAdmin/components/EntityList/_Cell.html.twig', {
                                    component: this
                                }) }}
                            </td>
                        {% endif %}
                    {% endfor %}

                    {% if not isDoctrineEntity %}
                        {% include '@KachnitelAdmin/components/EntityList/_DataSourceRowActions.html.twig' with {
                            dataSourceId: this.dataSourceId,
                            dataSource: dataSource,
                            entityId: entityId
                        } only %}
                    {% else %}
                        {% include '@KachnitelAdmin/components/EntityList/_RowActions.html.twig' with {
                            entity: entity,
                            entityShortClass: this.entityShortClass,
                            canEditRow: this.canEditRow(),
                            isRowEditing: rowEditing,
                            entityClass: this.entityClass
                        } only %}
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="{{ this.columnSlots|length + (showBatchColumn ? 2 : 1) }}" class="{{ css.text_center() }} {{ css.text_muted() }} {{ css.py_4() }}">
                        No {{ dataSource.label }} found.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    {% set paginationInfo = this.paginationInfo %}
    {% include '@KachnitelAdmin/components/EntityList/_Pagination.html.twig' with {
        paginationInfo: paginationInfo,
        page: this.page,
        allowedItemsPerPage: this.allowedItemsPerPage,
        itemsPerPage: this.itemsPerPage
    } only %}
</div>
