{#
 # LiveComponent template for reactive entity lists with per-column filters.
 #
 # Uses DataSourceInterface for all data sources. Doctrine entities use DoctrineDataSource
 # while custom data sources (e.g., audit logs) implement DataSourceInterface directly.
 #
 # Props:
 # @var string entityClass - Entity class name (for Doctrine entities)
 # @var string dataSourceId - Data source identifier (for custom data sources)
 # @var string search - Global search query
 # @var string sortBy - Sort field
 # @var string sortDirection - ASC or DESC
 # @var array columnFilters - Per-column filter values
 #}

{% import kachnitel_admin_theme as css %}
{% set dataSource = this.dataSource %}
{% set isDoctrineEntity = this.isDoctrineEntity() %}
{% set showBatchColumn = this.canBatchDelete() %}
{% set showColumnVisibility = this.supportsColumnVisibility() %}
{% set visibleColumns = showColumnVisibility ? this.visibleColumns : this.columns %}

<div
    {% if showBatchColumn %}
        {{ attributes.defaults({ 'data-controller': 'batch-select' }) }}
    {% else %}
        {{ attributes }}
    {% endif %}
>
    {# Batch Actions Bar #}
    {% if showBatchColumn %}
        {% include '@KachnitelAdmin/components/EntityList/_BatchActionsBar.html.twig' with {
            selectedCount: this.selectedIds|length
        } only %}
    {% endif %}

    {# Column Visibility Toggle #}
    {% if showColumnVisibility %}
        {% set columnLabels = {} %}
        {% for column in this.columns %}
            {% set columnLabels = columnLabels|merge({ (column): dataSource.columns[column] is defined ? dataSource.columns[column].label : column|humanize }) %}
        {% endfor %}
        {% include '@KachnitelAdmin/components/EntityList/_ColumnVisibilityToggle.html.twig' with {
            allColumns: this.columns,
            hiddenColumns: this.hiddenColumns,
            columnLabels: columnLabels,
        } only %}
    {% endif %}

    {# Global Search #}
    {% if block('search') is defined %}
        <div class="admin-global-search {{ css.mb_3() }}">
            {{ block('search') }}
        </div>
    {% else %}
        <div class="admin-global-search {{ css.mb_3() }}">
            <input
                type="text"
                class="{{ css.form_input() }}"
                placeholder="Global search across all columns..."
                data-model="search"
                value="{{ this.search }}"
            >
        </div>
    {% endif %}

    {# Entity List Table #}
    <table class="{{ css.table() }}">
        <thead>
            <tr>
                {% if showBatchColumn %}
                    <th style="width: 40px;">
                        <input
                            type="checkbox"
                            class="{{ css.form_checkbox() }}"
                            title="Select/Deselect All"
                            data-batch-select-target="master"
                            data-action="change->batch-select#toggleAll"
                        >
                    </th>
                {% endif %}
                {% for column in visibleColumns %}
                    {% include '@KachnitelAdmin/components/EntityList/_SortableHeader.html.twig' with {
                        column: column,
                        columnLabel: dataSource.columns[column] is defined ? dataSource.columns[column].label : null,
                        sortBy: sortBy,
                        sortDirection: sortDirection,
                        component: this
                    } only %}
                {% endfor %}
                <th>Actions</th>
            </tr>
            <tr class="filters">
                {% if showBatchColumn %}
                    <th></th>
                {% endif %}
                {% for column in visibleColumns %}
                    <th>
                        {% if this.filterMetadata[column] is defined %}
                            <twig:K:Admin:ColumnFilter
                                column="{{ column }}"
                                value="{{ this.columnFilters[column]|default('') }}"
                                :filterMetadata="this.filterMetadata[column]"
                            />
                        {% endif %}
                    </th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for entity in this.entities %}
                {% set entityId = this.getEntityId(entity) %}
                <tr>
                    {% if showBatchColumn %}
                        <td>
                            <input
                                type="checkbox"
                                class="{{ css.form_checkbox() }}"
                                value="{{ entityId }}"
                                {% if entityId in this.selectedIds %}checked{% endif %}
                                data-model="selectedIds[]"
                                data-batch-select-target="checkbox"
                                data-action="click->batch-select#toggle"
                            >
                        </td>
                    {% endif %}
                    {% for column in visibleColumns %}
                        <td>
                            {% set value = this.getEntityValue(entity, column) %}
                            {% set columnMeta = dataSource.columns[column] ?? null %}
                            {% if columnMeta and columnMeta.template %}
                                {# Custom template specified in column metadata - highest priority #}
                                {{ include(columnMeta.template, {
                                    entity: entity,
                                    item: entity,
                                    value: value,
                                    property: column,
                                    cell: true
                                }) }}
                            {% elseif not isDoctrineEntity %}
                                {# Custom DataSource: use datasource-specific template hierarchy #}
                                {% set columnType = columnMeta ? columnMeta.type : 'string' %}
                                {% set isCollection = columnType == 'collection' %}
                                {{ include(admin_column_templates(this.dataSourceId, null, column, columnType, isCollection), {
                                    entity: entity,
                                    value: value,
                                    property: column,
                                    cell: true
                                }, ignore_missing = true) }}
                            {% else %}
                                {# Doctrine entity: use entity-specific template hierarchy #}
                                {% set isCollection = admin_is_collection(entity, column) %}
                                {% set propertyType = admin_get_property_type(entity, column) %}
                                {{ include(admin_column_templates(null, this.entityClass, column, propertyType, isCollection), {
                                    entity: entity,
                                    value: value,
                                    property: column,
                                    cell: true
                                }, ignore_missing = true) }}
                            {% endif %}
                        </td>
                    {% endfor %}

                    {% if not isDoctrineEntity %}
                        {% include '@KachnitelAdmin/components/EntityList/_DataSourceRowActions.html.twig' with {
                            dataSourceId: this.dataSourceId,
                            dataSource: dataSource,
                            entityId: entityId
                        } only %}
                    {% else %}
                        {% include '@KachnitelAdmin/components/EntityList/_RowActions.html.twig' with {
                            entity: entity,
                            entityShortClass: this.entityShortClass
                        } only %}
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="{{ visibleColumns|length + (showBatchColumn ? 2 : 1) }}" class="{{ css.text_center() }} {{ css.text_muted() }} {{ css.py_4() }}">
                        No {{ dataSource.label }} found.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# Pagination Controls #}
    {% set paginationInfo = this.paginationInfo %}
    {% include '@KachnitelAdmin/components/EntityList/_Pagination.html.twig' with {
        paginationInfo: paginationInfo,
        page: this.page,
        allowedItemsPerPage: this.allowedItemsPerPage,
        itemsPerPage: this.itemsPerPage
    } only %}
</div>
