{#
 # Partial template for batch actions bar (test override).
 #}

<div class="admin-batch-actions mb-3 d-flex gap-2 align-items-center">
    {% for batchAction in this.getBatchActions() %}
        {# Permission check: only render if user can execute this action #}
        {% if this.canExecuteBatchAction(batchAction.name) %}
            {% if batchAction.isLiveAction() %}
                {% set actionName = batchAction.liveAction %}
                <button
                    type="button"
                    class="btn btn-sm {{ batchAction.cssClass ?? 'btn-primary' }}"
                    data-action="live#action"
                    data-live-action-param="{{ actionName }}"
                    {% if batchAction.requiresConfirmation() %}
                        onclick="return confirm('{{ batchAction.confirmMessage|replace({
                            '%count%': this.selectedIds|length,
                            '%action_name%': batchAction.label,
                            '%entity_name%': this.entityShortClass
                        })|escape('js') }}')"
                    {% endif %}
                    {{ batchAction.icon ? 'title="' ~ batchAction.label ~ '"' : '' }}
                >
                    {% if batchAction.icon %}
                        {{ batchAction.icon }}
                    {% else %}
                        {{ batchAction.label }}
                    {% endif %}
                </button>
            {% elseif batchAction.isRouteAction() or batchAction.isUrlAction() %}
                <form method="POST" style="display: inline;" {{ batchAction.openInNewTab ? 'target="_blank"' : '' }}>
                    {% if batchAction.isRouteAction() %}
                        <input type="hidden" name="_route" value="{{ batchAction.route }}">
                    {% endif %}
                    <input type="hidden" name="_batch_action_name" value="{{ batchAction.name }}">
                    <input type="hidden" name="_entity_class" value="{{ this.entityClass }}">
                    <input type="hidden" name="_entity_short_class" value="{{ this.entityShortClass }}">
                    <input type="hidden" name="_all_selected" value="0">
                    {% for id in this.selectedIds %}
                        <input type="hidden" name="_entity_ids[]" value="{{ id }}">
                    {% endfor %}

                    <button
                        type="submit"
                        formaction="{{ batchAction.isRouteAction() ? path(batchAction.route) : batchAction.url }}"
                        class="btn btn-sm {{ batchAction.cssClass ?? 'btn-primary' }}"
                        {% if batchAction.requiresConfirmation() %}
                            onclick="return confirm('{{ batchAction.confirmMessage|replace({
                                '%count%': this.selectedIds|length,
                                '%action_name%': batchAction.label,
                                '%entity_name%': this.entityShortClass
                            })|escape('js') }}')"
                        {% endif %}
                        {{ batchAction.icon ? 'title="' ~ batchAction.label ~ '"' : '' }}
                    >
                        {% if batchAction.icon %}
                            {{ batchAction.icon }}
                        {% else %}
                            {{ batchAction.label }}
                        {% endif %}
                    </button>
                </form>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
